<div class="header-coontainer">
    <div class="logo">
        <h4>UNIVERSITY COMPLAIN HANDLING SYSTEM</h4>
    </div>

    <div class="user-info" >
        
        
        <button mat-button [matMenuTriggerFor]="toggle">
            {{currentUser.username}} 
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </button>
        <mat-menu #toggle="matMenu" xPosition="before">
           <button class="btn" mat-menu-item (click)="logout()"><span class="material-symbols-outlined">logout</span> Logout</button>
           <button class="btn" mat-menu-item routerLink="/post"><span class="material-symbols-outlined">add</span> Create Post</button>
        </mat-menu>
    </div>
    
</div>
