<div class="post-container">
    <div class="box-container">
        <h3 class="title">Create Post Complains</h3>
        <form class="myform" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form">
                <label for="">Complains</label>
                <input type="text"
                       ngModel required 
                       #complaintext="ngModel"
                       name="complaintext" 
                       class="form-control"
                       placeholder="Your-Complain" 
                       id="complaintext">
                <p class="alert"*ngIf="complaintext.untouched">Required *</p>
            </div>
            <div class="form">
                <label for="">User-Type</label>
                <input type="text"
                       ngModel required 
                       #usertyp="ngModel"
                       name="usertyp" 
                       placeholder="Ex: Student or Instructor" 
                       id="usertyp">
                       <p class="alert" *ngIf="usertyp.untouched">Required *</p>
            </div>
            
            <div class="form">
                <button type="submit" class="btn-disabled" *ngIf="form.invalid" >Create Post</button>
                <button type="submit" class="btn" *ngIf="form.valid" >Create Post</button>
                <button type="button" class="btn-light" routerLink="/Home">Back</button>
            </div>
        </form>
    </div>
</div>